

.blue {
  width: 200px;
  background-color: rgb(18, 107, 122);
  color: rgb(255, 255, 255);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.blueback {
  width: 200px;
  background-color: rgb(24, 139, 160);
  color: rgb(255, 255, 255);
  padding: 30px 15px 30px 15px;
  margin: 1px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 52px;
}

.green {
  width: 200px;
  background-color: rgb(1, 110, 87);
  color: rgb(255, 255, 255);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.greenback {
  width: 200px;
  background-color: rgb(0, 168, 132);
  color: rgb(255, 255, 255);
  padding: 30px 15px 30px 15px;
  margin: 1px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 52px;
}
.red {
  width: 200px;
  background-color: rgb(179, 59, 59);
  color: rgb(255, 255, 255);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.redback {
  width: 200px;
  background-color: rgb(216, 78, 78);
  color: rgb(255, 255, 255);
  padding: 30px 15px 30px 15px;
  margin: 1px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 52px;
}
.black {
  width: 200px;
  background-color: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.blackback {
  width: 200px;
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 255);
  padding: 30px 15px 30px 15px;
  margin: 1px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 48px;
}
.style{
    width: 200px; 
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background-color: rgb(243, 242, 242);
    font-size: 14px;
}
.styles{
    width: 200px; 
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background-color: rgb(221, 221, 221);
    font-size: 14px;
    line-height: 25px;
}